.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  //aligns items across the main axis (currently x)
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  //[grow -- grows if theres more space , shrink -- if not enough space, basis
  //-- want to keep at]
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;
  //grow as much as it can (fill remaining space of 18%)
  flex: 1;
}